<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>
                <div class="alert alert-success animated fadeIn fast" 
                     role="alert" 
                     *ngIf="usuarios.length === 0">
                  <h4 class="alert-heading text-center">
                    <i class="fa fa-exclamation"></i>
                  </h4>
                  <p>No hay usuarios con ese término de búsqueda.</p>
                  <p class="mb-0"></p>
                </div>
                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast"
                                *ngFor="let usuario of usuarios">
                                <td>
                                    <img class="w75 box-shadow br-4"
                                         [src]="usuario.img! | imagen: 'usuarios'" 
                                         [alt]="usuario.nombre">
                                </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>
                <div class="alert alert-success animated fadeIn fast" 
                     role="alert" 
                     *ngIf="medicos.length === 0">
                  <h4 class="alert-heading text-center">
                    <i class="fa fa-exclamation"></i>
                  </h4>
                  <p>No hay médicos con ese término de búsqueda.</p>
                  <p class="mb-0"></p>
                </div>
                <div class="table-responsive" *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast"
                                *ngFor="let medico of medicos"
                                >
                                <td>
                                    <img class="w75 box-shadow br-4"
                                         [src]="medico.img! | imagen: 'medicos'" 
                                         [alt]="medico.nombre">
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico', medico._id]">{{ medico.nombre }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>
                <div class="alert alert-success animated fadeIn fast" 
                     role="alert" 
                     *ngIf="hospitales.length === 0">
                  <h4 class="alert-heading text-center">
                    <i class="fa fa-exclamation"></i>
                  </h4>
                  <p>No hay hospitales con ese término de búsqueda.</p>
                  <p class="mb-0"></p>
                </div>
                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast"
                                *ngFor="let hospital of hospitales">
                                <td>
                                    <img class="w75 box-shadow br-4"
                                         [src]="hospital.img! | imagen: 'hospitales'" 
                                         [alt]="hospital.nombre">
                                </td>
                                <td>{{ hospital.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>