<div class="input-group">
  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="cambiarValor(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input
    type="number"
    class="form-control"
    [ngClass]="{ 'is-invalid': isInvalid }"
    placeholder="Product name"
    [(ngModel)]="progress"
    max="100"
    min="0"
    (ngModelChange)="onChange($event)"
  />
  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="cambiarValor(5)">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
