.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding: 20px 10px;
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        height: 100%;
        img{
            width: 150px;
        }
    }
    &__data{
        &--title{
            font-size: 1.4rem;
            text-align: center;
        }
        &--body{
            font-size: 1rem;
        }
    }
}