/* You can add global styles to this file, and also import other style files */
.fast {
  animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
}
#themecolors .selector,
.cursor-pointer {
  cursor: pointer;
}
