/* You can add global styles to this file, and also import other style files */
.fast {
  animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
}
#themecolors .selector,
.cursor-pointer {
  cursor: pointer;
}
.text-overflow {
  width: 154px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.w100 {
  width: 100px;
}
.w50 {
  width: 50px;
}
.w140 {
  width: 140px;
}
.w200 {
  width: 200px;
}
.h80 {
  height: 90px;
}
.w75{
  width: 75px;
}
.mh100{
  max-height: 100px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 75px;
  height: 75px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.br-100{
  border-radius: 100%;
}

.br-4 {
  border-radius: 4px;
}
.box-shadow{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.avatar {
  width: 76px;
}
.avatar__img{
  width: 75px;
}
.fondo-modal-imagen{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.oculto{
  display: none;
}
