<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #txtTermino
          (keyup)="search(txtTermino.value)"
          type="text"
          class="form-control"
          placeholder="Buscar usuarios"
        />
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere...</p>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Usuarios registrados: {{ totalUsers }}</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Email</th>
                <th>Nombre</th>
                <th class="w140">Rol</th>
                <th class="w100">Auth</th>
                <th class="w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td (click)="abrirModal(user)" class="cursor-pointer">
                  <div class="center-container br-100">
                    <img
                      class="avatar"
                      [src]="user.imageUrl"
                      alt="user picture"
                    />
                  </div>
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>{{ user.nombre }}</td>
                <td>
                    <select class="form-control" name="" id="" [(ngModel)]="user.role" (change)="cambiarRole(user)">
                        <option value="ADMIN_ROLE">Admin</option>
                        <option value="USER_ROLE">User</option>
                    </select>
                </td>
                <td>
                  <ng-container *ngIf="user.google; else normal">
                    <span class="label label-danger">Google</span>
                  </ng-container>
                  <ng-template #normal>
                    <span class="label label-info">Normal</span>
                  </ng-template>
                </td>
                <td class="text-nowrap text-center">
                  <a
                    class="cursor-pointer"
                    (click)="deleteUser(user)"
                    data-toggle="tooltip"
                    data-original-title="Borrar">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="txtTermino.value.length === 0">
          <button (click)="changePage(-5)" class="btn btn-secondary">
            Anterior
          </button>
          &nbsp;
          <button (click)="changePage(5)" class="btn btn-secondary">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
